<h1>Nueva postulación recibida</h1>
<p>El usuario <%= @user.email %> ha realizado una postulación para la oferta laboral <%= @job_offer.title %>.</p>
<p>Puedes revisar las postulaciones en la sección correspondiente del sitio.</p>