<!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Nueva Oferta Laboral</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <%= render "form", job_offer: @job_offer %>
    <div>
    
  <%= link_to "ofertas", job_offers_path, class:'get-started-btn' %>
</div>